* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
}
h1 {
    text-align: center;
    font-weight: 500;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    height: 150vh;
    
}
.drinks-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    height: 65vh;
}
.sides-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    height: 65vh;
}
img {
    width: 100%;
    height: 202px;
    
}
.mobile-header {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 4fr 1fr;
    min-height: 6vh;
    
    background-color: white;
    margin-bottom: 5vh;
}
.mobile-hamburger-line {
    width:30px;
    height: 4px;
    background-color: black;
}
.mobile-hamburger-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 50px;
    height: 35px;
    z-index: 4;
    position: relative;
}
.header-a-tags {
    color: #411f1f;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1vh;
}
.mobile-header-menu {
    position: absolute;
    width: 100%;
    background-color: #b2ebf2;
    display: grid;
    justify-items: center;
    align-items: center;
    top: -15vh;
    opacity: 0;
    left: 0;
    min-height: 10vh;
    transition: all 0.5s ease-in-out;
}
.mobile-menu-checkbox {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.mobile-menu-checkbox:checked ~ .mobile-header-menu {
    top: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.div-one-a-tags {
    display: grid;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    color: white;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 13px 19px;
    font-weight: 600;
    border: 2px solid #212a2f;
    border-radius: 2px;
    color: #212a2f;
    background-color: white;
    text-align: center;
    display: grid;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 20vw;
    margin-right: 20vw;
}
.footer {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: #f1f9f9; 
    width: 100%;
   }

.footer-tags{
   text-align: center;
}
.copyright {
   text-align: center;
   margin-top: 2vh;
}
.div1 {
    text-align: center;
}
#div1-h-tag {
 font-weight: 500;
 
}
#div1-p-tag {
  line-height: 1.25;
}
.img1-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
    text-decoration:none;
    align-items: center;
}
.img1-button:hover {
	background-color:#eb675e;
}
.img1-button:active {
	position:relative;
    top:1px;
    background-color: #d4463c ;
}
.div2 {
    text-align: center;
}
.div2-h-tag {
 font-weight: 500;
 
}
.div2-p-tag {
  line-height: 1.25;
}
.img2-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img2-button:hover {
	background-color:#eb675e;
}
.img2-button:active {
	position:relative;
	top:1px;
}       
.div3 {
    text-align: center;
}
.div3-h-tag {
    font-weight: 500;
}
.div3-p-tag {
    line-height: 1.25;
}
.img3-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img3-button:hover {
	background-color:#eb675e;
}
.img3-button:active {
	position:relative;
	top:1px;
}
.div4 {
    text-align: center;
}
.div-p-tag {
    line-height: 1.25;
}
.div-h-tag {
    font-weight: 500;
}
.img4-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img4-button:hover {
	background-color:#eb675e;
}
.img4-button:active {
	position:relative;
	top:1px;
}
.div5 {
  text-align: center;
}
.div5-h-tag {
    font-weight: 500;
}        
.div5-p-tag {
    line-height: 1.25;
}
.img5-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img5-button:hover {
	background-color:#eb675e;
}
.img5-button:active {
	position:relative;
	top:1px;
}
.div6 {
    text-align: center;
}
.div6-p-tag {
    line-height: 1.25;
}
.div6-h-tag {
    font-weight: 500;
}
.img6-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img6-button:hover {
	background-color:#eb675e;
}
.img6-button:active {
	position:relative;
	top:1px;
}
.div7 {
    text-align: center;
}
.div7-p-tag {
    line-height: 1.25;
}
.div7-h-tag {
    font-weight: 500;
}
.img7-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img7-button:hover {
	background-color:#eb675e;
}
.img7-button:active {
	position:relative;
	top:1px;
}     
.div8 {
    text-align: center;
}   
.div8-h-tag {
    font-weight: 500;
}
.div8-p-tag {
    line-height: 1.25;
}
.img8-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img8-button:hover {
	background-color:#eb675e;
}
.img8-button:active {
	position:relative;
	top:1px;
}
.div9 {
    text-align: center;
}
.div9-h-tag {
    font-weight: 500;
}
.div9-p-tag {
    line-height: 1.25;
}
.img9-button {
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 13px;
	text-decoration:none;
}
.img9-button:hover {
	background-color:#eb675e;
}
.img9-button:active {
	position:relative;
	top:1px;
}
