body {
   background-color: #f4f6ff;
}
hr {
    border-style: none;    
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h3 {
    color: #2fc4b2
}
h1 {
    text-align: center;
    color: #2fc4b2
}
div> p{
  font-style: italic;
}
h1 + p {
    color: #2fc4b2;
}
a:hover{
    color: #96bb7c;
}
a:active{
    font-size: 50px;
}
a:visited {
    background-color: yellow;
  border-color: hotpink;
  color: rgb(62, 128, 19);
}
a:link {
    background-color:#b6eb7a ;
}