* {
    margin: 0;
    padding: 0;
}
.site {
    display: grid;
    
    overflow: hidden;
    overflow-y: scroll;
}
img {
    width: 50%;
    height: auto;
}
.mobile-header {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 4fr 1fr;
    min-height: 6vh;
    position: fixed;
    background-color: white;
    height: 8vh;
}
.mobile-hamburger-line {
    width:30px;
    height: 4px;
    background-color: black;
}
.mobile-hamburger-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 50px;
    height: 35px;
    z-index: 4;
    position: relative;
}
.header-a-tags {
    color: #411f1f;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1vh;
}
.mobile-header-menu {
    position: absolute;
    width: 100%;
    background-color: #b2ebf2;
    display: grid;
    justify-items: center;
    align-items: center;
    top: -15vh;
    opacity: 0;
    left: 0;
    min-height: 10vh;
    transition: all 0.5s ease-in-out;
}
.mobile-menu-checkbox {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.mobile-menu-checkbox:checked ~ .mobile-header-menu {
    top: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.div-one-a-tags {
    display: grid;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    color: white;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 13px 19px;
    font-weight: 600;
    border: 2px solid #212a2f;
    border-radius: 2px;
    color: #212a2f;
    background-color: white;
    text-align: center;
    display: grid;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 20vw;
    margin-right: 20vw;
}
.content-one-header {
    text-align: center;
    font-size: 2em;
    color: white;
    bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}
.content-two-header {
    font-weight: 500;
}
.content-one-text {
    text-align: center;
    font-size: 0.9em;
    color: white;
    margin-top: 2vh;
    line-height: 1.2;
    padding-left: 7.5vh;
    padding-right: 7.5vh;
}
.content-two-text {
    line-height: 1.5;
}
.our-store {
    font-weight: 500;
    text-align: center;
    padding-top: 4vh;
}
.our-store-text {
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 3vh;
    line-height: 1.5;
}
.location {
    font-weight: 500;
}
.images {
    display: grid;
    gap: 5px;
    grid-template-areas:
    'img1 img2 img2'
    'img3 img4 img5'
    'img6 img6 img6'
    'img7 img7 img8';
    width: 100%;
    height: 100vh;
    
}
#first-content {
    display: grid;
    justify-items: center;
    align-items: center;
}
.img1 {
    grid-area: img1;
    background-image: url(https://i.pinimg.com/originals/e0/ab/cf/e0abcfa37fc77332e08f6e6bdbabe5f0.jpg);
    background-size: cover;
}
.img2 {
    grid-area: img2;
    background-image: url(https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
}
.img3 {
    grid-area: img3;
    background-image: url(https://wallsheaven.com/photos/D816807655/400/adult-employee-of-farm-food-store-with-fruits.jpg);
    background-size: cover;
}
.img4 {
    grid-area: img4;
    background-image: url(https://ae01.alicdn.com/kf/HTB1KgUxUFzqK1RjSZFCq6zbxVXaJ/Custom-wallpaper-3d-mural-black-hand-painted-Italian-pizza-shop-Western-restaurant-background-wall-paper-home.jpg);
    background-size: cover;
}
.img5 {
    grid-area: img5;
    background-image: url(https://ae01.alicdn.com/kf/HTB1atvDNpXXXXctXVXXq6xXFXXXR/Custom-Size-Photo-3D-Wood-blackboard-graffiti-wallpaper-Pizza-shop-snack-bar-restaurant-burgers-store-wallpaper.jpg_350x350.jpg);
    background-size: cover;
}
.img6 {
    grid-area: img6;
    background-image: url(https://d2w1ef2ao9g8r9.cloudfront.net/images/health-wellness-1.jpg?mtime=20200306152609&focal=78.53%25+36.66%25);
    background-size: cover;
}
.img7 {
    grid-area: img7;
    background-image: url(https://restaurantengine.com/wp-content/uploads/2013/02/Hire-Restaurant-Employees-Kitchen.jpg);
    background-size: cover;
}
.img8 {
    grid-area: img8;
    background-image: url(https://2bwrl244x46j3rrorox6yc6b-wpengine.netdna-ssl.com/wp-content/uploads/migration_images/_MG_4268%20copy.jpg);
    background-size: cover;
}
.content-one {
    background-image: url(images.png/pizza1.png);
    
    min-height: 110vh;
   background-position: center;
   background-repeat: no-repeat;
   
}

.first {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.content-two-header {
    text-align: center;
    margin-bottom: 2vh;
}
.content-two-text{
    text-align: center;
    padding-left: 8vw; 
    padding-right: 8vw;
    line-height: 1.4em;
}
.btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 13px 70px;
    font-weight: 600;
    border: 2px solid #212a2f;
    border-radius: 2px;
    color: #212a2f;
    background-color: #fff;
    text-align: center;
    display: grid;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.content-three {
    margin-left: 2vw;
    margin-right: auto;
}
.location {
    text-align: center;
    font-size: 2em;
    color: black;
    bottom: 10vh;
    margin-top: 8vh;
}
.google-maps {
    width: 400px;
    height: 200px;
}
.footer {
     text-align: center;
     padding-top: 4vh;
     padding-bottom: 4vh;
     background-color: #f1f9f9; 
     width: 100%
    };

.footer-tags{
    text-align: center;
}
.copyright {
    text-align: center;
    margin-top: 2vh;
}
    

@media only screen and (min-width:600px) {
    
}
@media only screen and (min-width:1040px) {
    
    
}